<div class="container">
  <div class="row mb-2">
    <div class="btn col-auto mr-2"
         (click)="onCreateClick()">
      <img src="from-bootstrap/plus.svg" alt="Создать" class="btn-img"/>
      Создать
    </div>
  </div>
  <div class="row">
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th>Идентификатор</th>
        <th>Наименование</th>
        <th>Действия</th>
      </tr>
      </thead>
      <tbody>
        @for (item of listItems; track item.id) {
          <tr (click)="onEditClick(item)" class="clickable">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>
              <div title="Редактировать"
                   class="btn col-auto mr-2">
                <img src="from-bootstrap/pencil-fill.svg" alt="Редактировать" class="btn-img"/>
              </div>
              <div title="Удалить"
                   (click)="onDeleteClick(item); $event.stopPropagation()"
                   class="btn col-auto mr-2">
                <img src="from-bootstrap/trash.svg" alt="Удалить" class="btn-img"/>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
