<div class="container">
  <app-title title="Запросы с параметрами">
  </app-title>
  <div class="row row-bottom-fix">
    <i>
      <p>
        Параметры позволяют отправить на бэкенд какие-либо данные вместе с запросом.
        Когда данных много, то пользуются POST-запросами. Когда мало, то параметрами.
        Можно пользоваться POST-запросами и параметрами одновременно: в теле POST-запроса отправить основные данные,
        а небольшие данные отправить как параметры. Ниже вы увидете пример этого.
      </p>
    </i>
  </div>
  <div class="row row-bottom-fix">
    <i>
      <p>
        У этого запроса входные параметры находятся в адресе.
        Откройте инструменты разработчика в браузере (F12), вкладка Сеть (Network) и проследите за этим запросом:
      </p>
    </i>
  </div>
  <div [formGroup]="addressParamsForm" class="row row-bottom-fix">
    <div class="d-flex col-auto">
      <div class="col-3 align-self-center">
        <input type="number" formControlName="firstParam">
      </div>
      <div class="col-3 align-self-center">
        <input type="number" formControlName="secondParam">
      </div>
      <div class="col-3 btn align-self-center m-2"
           (click)="addressParamsForm.valid ? onAddressParamsClick() : $event.stopPropagation()"
           [class.disabled]="!addressParamsForm.valid">
        Отправить запрос
      </div>
      <div class="col-3 align-self-center">
        <input type="text" formControlName="result">
      </div>
    </div>
  </div>
  <div class="row row-bottom-fix">
    <i>
      <p>
        У этого запроса входные параметры вставляются в адрес после "?".
        Это называется query-параметры.
        Если раньше параметры отличались по местам в адресе, то теперь они имеют названия и различаются по названиям:
      </p>
    </i>
  </div>
  <div [formGroup]="queryParamsForm" class="row row-bottom-fix">
    <div class="d-flex col-auto">
      <div class="col-3 align-self-center">
        <input type="number" formControlName="firstParam">
      </div>
      <div class="col-3 align-self-center">
        <input type="number" formControlName="secondParam">
      </div>
      <div class="col-3 btn align-self-center m-2"
           (click)="queryParamsForm.valid ? onQueryParamsClick() : $event.stopPropagation()"
           [class.disabled]="!queryParamsForm.valid">
        Отправить запрос
      </div>
      <div class="col-3 align-self-center">
        <input type="text" formControlName="result">
      </div>
    </div>
  </div>
  <div class="row row-bottom-fix">
    <i>
      <p>
        В query-параметрах запроса можно передавать составной объект.
        Каждое поле этого объекта можно положить в отдельный query-параметр (если это поле не null),
        а на бэкенде изо всех query-параметров будет доставаться один составной объект.
        Здесь запрос отправляется по кнопке "Фильтровать":
      </p>
    </i>
  </div>
  <div [formGroup]="complexParamsForm" class="row row-bottom-fix">
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <td>Id</td>
        <td>Наименование</td>
        <td>Дата</td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="text" formControlName="title">
          <div class="btn btn-plain"
               (click)="onClearFilterClick('title')">
            <img src="from-bootstrap/x-lg.svg" alt="Очистить фильтр" class="btn-img"/>
          </div>
        </td>
        <td>
          <input type="date" formControlName="dateFrom">
          <div class="btn btn-plain"
               (click)="onClearFilterClick('dateFrom')">
            <img src="from-bootstrap/x-lg.svg" alt="Очистить фильтр" class="btn-img"/>
          </div>
        </td>
        <td>
          <div class="btn"
               (click)="onComplexParamsClick()">
            <img src="from-bootstrap/filter.svg" alt="Применить фильтр" class="btn-img"/>
            Фильтровать
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>
          <input type="date" formControlName="dateTo">
          <div class="btn btn-plain"
               (click)="onClearFilterClick('dateTo')">
            <img src="from-bootstrap/x-lg.svg" alt="Очистить фильтр" class="btn-img"/>
          </div>
        </td>
        <td></td>
      </tr>
      </thead>
      <tbody>
        @for (control of complexParamsResult.controls; track control.value.id) {
          <tr>
            <td>{{ control.value.id }}</td>
            <td>{{ control.value.title }}</td>
            <td>{{ control.value.date }}</td>
            <td></td>
          </tr>
        }
        @if (complexParamsResult.length === 0) {
          <tr>
            <td colspan="4">С данным фильтром ничего не найдено.</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
