<div class="container" xmlns="http://www.w3.org/1999/html">
  <app-title title="Конструктор JSON"></app-title>
  @if (isLoading) {
    <mat-progress-spinner class="center-screen"
                          mode="indeterminate">
    </mat-progress-spinner>
    <div class="gray-screen">
    </div>
  }
  <div class="row">
    <i>
      <p>
        JSON - это формат данных, который позволяет отобразить все обычные программистские типы данных в виде текста.
        По протоколу HTTP REST можно передавать только текст.
        Поэтому, чтобы передать любые данные, нужно сначала превратить их в текст, и JSON - удобный способ это сделать.
      </p>
      <p>
        Возможные значения JSON - это
      </p>
      <ul>
        <li>булево значение true/false;</li>
        <li>число 123, -123, 1.023;</li>
        <li>строка "Qwerty123";</li>
        <li>null;</li>
        <li>объект;</li>
        <li>список.</li>
      </ul>
      <p>
        В свою очередь, объекты и списки состоят из вложенных в них значений JSON,
        то есть, в объект могут быть вложены другие объекты, списки и тому подобное.
      </p>
    </i>
  </div>
  <app-json-field [isRoot]="true"
                  [nestingLevel]="0"
                  [hasName]="false"
                  (onBeginLoading)="beginLoading()"
                  (onEndLoading)="endLoading()">
  </app-json-field>
</div>
