<div class="container">
  @if (!!details) {
    <app-title title="Простой пример CRUD (Create/Read/Update/Delete)"
               subTitle="Редактирование"
    ></app-title>
    <div class="row row-bottom-fix">
      <div class="col-3">
        Идентификатор:
      </div>
      <div class="col-9">
        @if (isNew) {
          <input type="text" [(ngModel)]="details.id" class="wide-input">
        } @else {
          {{ details.id }}
        }
        <br/>
        <small>формат Guid</small>
      </div>
    </div>
    <div class="row row-bottom-fix">
      <div class="col-3">
        Наименование:
      </div>
      <div class="col-9">
        <input type="text" [(ngModel)]="details.name" class="wide-input">
        <br/>
        <small>краткое наименование</small>
      </div>
    </div>
    <div class="row row-bottom-fix">
      <div class="col-3">
        Описание:
      </div>
      <div class="col-9">
        <input type="text" [(ngModel)]="details.description" class="wide-input">
        <br/>
        <small>подробное описание</small>
      </div>
    </div>
    <div class="row row-bottom-fix">
      <div class="btn col-auto mr-2"
           (click)="onCancelClick()">
        <img src="from-bootstrap/arrow-left.svg" alt="Назад" class="btn-img"/>
        Назад
      </div>
      <div class="btn btn-primary col-auto mr-2"
           (click)="onSaveClick()">
        <img src="from-bootstrap/check-2.svg" [alt]="isNew ? 'Создать' : 'Редактировать'" class="btn-img"/>
        {{ isNew ? 'Создать' : 'Редактировать' }}
      </div>
    </div>
  }
</div>
