<div class="container">
  <app-title title="Простой запрос"
             description="Только кнопка и текст">
  </app-title>
  <div class="row row-bottom-fix">
    <i>
      <p>
        Запрос отправляется по нажатию на кнопку. Чтобы увидеть запрос в браузере, откройте инструменты разработчика,
        нажав F12, и в них вкладку Сеть (Network). Новый запрос добавится в конец списка.
        Чтобы увидеть подробности запроса, нажмите на него в списке.
      </p>
      <p>
        Чтобы найти место в коде, которое отправляет запрос, откройте проект Frontend.
        Возьмите конец адреса этой страницы (после последнего "/") и найдите в проекте HTML с соответствующим названием.
        В этом HTML будет этот текст и кнопка. К кнопке привязано событие "onClick()".
        Щёлкнув на него мышкой с Ctrl, вы перейдёте в метод onClick(), находящийся в Component.
        Оттуда и будет высылаться запрос.
      </p>
      <p>
        Теперь найдите место, получающее этот запрос на бэкенде.
        Для этого проследите в инструментах разработчика в браузере, на какой адрес идёт этот запрос.
        Это будет что-то вроде "http://localhost:1234/api/some-address/some-method".
        Кусок этого адреса наподобие "api/some-address" без последней части отвечает за выбор ApiController на бэкенде,
        а последняя часть "some-method" - за выбор метода внутри этого контроллера.
        Таким образом, чтобы найти ApiController, скопируйте первую часть адреса и вбейте её в Backend в поиск
        на Ctrl + Shift + F. А далее найдите нужный метод внутри этого ApiController.
      </p>
    </i>
  </div>
  <div class="row row-bottom-fix">
    <div class="btn col-auto m-2"
         (click)="onClick()">
      Послать запрос
    </div>
    <div class="result col-auto"
         [ngClass]="(isSuccess === true ? 'success' : '') + (isSuccess === false ? 'error' : '')">
      {{ result }}
    </div>
  </div>
</div>
