.btn {
  border: 2px solid dimgray;
  border-radius: 0.5rem;
  margin-right: 0.5em;
}

.btn:hover {
  border: 2px solid black;
  background-color: lightgray;
}

.btn.btn-primary {
  border: 2px solid #808080;
  background-color: #808080;
  color: white;
  accent-color: white;
}

.light-btn {
  background-color: grey !important;
}

.light-btn:hover {
  background-color: lightgray !important;
}

.light-btn.disabled {
  background-color: #404040 !important;
}

.btn.btn-primary:hover {
  border: 2px solid black;
  background-color: #606060;
}

.btn.disabled, .btn:disabled {
  opacity: .40;
}

.btn.btn-plain {
  border: none;
}

.clickable {
  cursor: pointer;
}

.row-bottom-fix {
  margin-bottom: 1em;
}

.row.table-row {
  display: table-row;
}

/*noinspection CssInvalidPropertyValue*/
.wide-input {
  width: -webkit-fill-available;
}

.one-lined-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-lines: 1;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  text-overflow: ellipsis;
}

.highlighted-text {
  background-color: yellow !important;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Стили для HTML, загружаемого из БД */
.sql-example-table > thead > tr > th {
  padding: 0.3em 1em;
  border: 1px dashed grey;
}

.sql-example-table > tbody > tr > td {
  padding: 0.3em 1em;
  border: 1px dashed grey;
}

.sql-background {
  background: #262626;
}

.sql-keyword {
  color: #6c95eb;
}

.sql-identifier {
  color: #c191ff;
}

.sql-function {
  color: #39cc9b;
}

.sql-string {
  color: #c9a26d;
}

.sql-number {
  color: #ed94c0;
}

.sql-sign {
  color: #d0d0d0;
}

.sql-other {
  color: #d0d0d0;
}

.tooltip-example {
  text-align: center;
  padding: 0 50px;
}

.tooltip-example [tooltip] {
  display: inline-block;
  margin: 50px 20px;
  width: 180px;
  height: 50px;
  border: 1px solid gray;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}

.ng-tooltip {
  position: absolute;
  max-width: 150px;
  font-size: 14px;
  text-align: center;
  color: #f8f8f2;
  padding: 3px 8px;
  background: #282a36;
  border-radius: 4px;
  z-index: 1000;
  opacity: 0;
}

.ng-tooltip:after {
  content: "";
  position: absolute;
  border-style: solid;
}

.ng-tooltip-top:after {
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: black transparent transparent transparent;
}

.ng-tooltip-bottom:after {
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-color: transparent transparent black transparent;
}

.ng-tooltip-left:after {
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent transparent transparent black;
}

.ng-tooltip-right:after {
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-color: transparent black transparent transparent;
}

.ng-tooltip-show {
  opacity: 1;
}
