.btn {
  border: 2px solid dimgray;
  border-radius: 0.5rem;
  margin-right: 0.5em;
}

.btn:hover {
  border: 2px solid black;
  background-color: lightgray;
}

.btn.btn-primary {
  border: 2px solid #808080;
  background-color: #808080;
  color: white;
  accent-color: white;
}

.btn.btn-primary:hover {
  border: 2px solid black;
  background-color: #606060;
}

.btn.disabled, .btn:disabled {
  opacity: .40;
}

.clickable {
  cursor: pointer;
}

.row-bottom-fix {
  margin-bottom: 1em;
}

/*noinspection CssInvalidPropertyValue*/
.wide-input {
  width: -webkit-fill-available;
}

.one-lined-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  max-lines: 1;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  text-overflow: ellipsis;
}

.highlighted-text {
  background-color: yellow !important;
}
