<div [formGroup]="form()">
  <div class="row">
    <div class="col-12">
      <span [innerHTML]="tabs"></span>
      @if (hasName()) {
        <mat-form-field class="mat-field">
          <mat-label>Название поля</mat-label>
          <input matInput type="text" formControlName="fieldName">
        </mat-form-field>
      }
      <mat-form-field class="mat-field">
        <mat-label>Тип поля</mat-label>
        <mat-select formControlName="fieldType">
          <mat-option [value]="FieldType.boolean">boolean</mat-option>
          <mat-option [value]="FieldType.number">number</mat-option>
          <mat-option [value]="FieldType.string">string</mat-option>
          <mat-option [value]="FieldType.null">null</mat-option>
          <mat-option [value]="FieldType.object">object</mat-option>
          <mat-option [value]="FieldType.list">list</mat-option>
        </mat-select>
      </mat-form-field>
      @if (fieldType === FieldType.boolean) {
        <mat-form-field class="mat-field">
          <mat-label>Значение поля</mat-label>
          <mat-select formControlName="fieldValue" class="wide-input">
            <mat-option [value]="true">true</mat-option>
            <mat-option [value]="false">false</mat-option>
          </mat-select>
        </mat-form-field>
      } @else if (fieldType === FieldType.number) {
        <mat-form-field class="mat-field">
          <mat-label>Значение поля</mat-label>
          <input matInput type="number" formControlName="fieldValue" class="wide-input">
        </mat-form-field>
      } @else if (fieldType === FieldType.string) {
        <mat-form-field class="mat-field">
          <mat-label>Значение поля</mat-label>
          <input matInput type="text" formControlName="fieldValue" class="wide-input">
        </mat-form-field>
      } @else if (fieldType === FieldType.null) {
        <mat-form-field class="mat-field">
          <mat-label>Значение поля</mat-label>
          <input matInput type="text" [value]="'null'" disabled class="wide-input">
        </mat-form-field>
      }
      <div class="btn col-auto mr-2"
           (click)="onEyeClick()"
           title="Просмотреть значение JSON">
        <img src="from-bootstrap/eye-fill.svg" alt="Просмотреть значение JSON" class="btn-img"/>
      </div>
      @if (!isRoot()) {
        <div class="btn col-auto mr-2"
             (click)="onDeleteFieldClick()"
             title="Удалить поле">
          <img src="from-bootstrap/x-lg.svg" alt="Удалить поле" class="btn-img"/>
        </div>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      @if (fieldType === FieldType.object || fieldType === FieldType.list) {
        @for (innerField of innerFields; let i = $index; track innerField) {
          <app-json-field [isRoot]="false"
                          [nestingLevel]="nestingLevel() + 1"
                          [form]="innerField"
                          [hasName]="fieldType === FieldType.object"
                          (onDeleteField)="deleteInnerField(i)">
          </app-json-field>
        }
      }
    </div>
  </div>
  @if (fieldType === FieldType.object || fieldType === FieldType.list) {
    <div class="row row-bottom-fix">
      <div class="col-12">
        <span [innerHTML]="tabs"></span>
        <div class="btn col-auto mr-2"
             (click)="onAddFieldClick()"
             title="Добавить поле">
          <img src="from-bootstrap/plus.svg" alt="Добавить поле" class="btn-img"/>
        </div>
      </div>
    </div>
  }
</div>
