<div class="container" [formGroup]="form">
  <app-title title="Оглавление"></app-title>
  <div class="row">
    <div [class]="isShowFullDescription ? 'col-12' : 'col-8'">
      <div class="row row-bottom-fix">
        <div class="col-8">
          <input type="text" formControlName="query" placeholder="Введите несколько отдельных слов…"
                 class="wide-input"/>
        </div>
        <div class="col-4">
          <label class="clickable">
            <input type="checkbox" formControlName="isShowFullDescription"/>
            Подробный вид
          </label>
        </div>
      </div>

      <app-table-of-contents-list
        [listItems]="listItems"
        [selectedItem]="selectedItem"
        [isShowFullDescription]="isShowFullDescription"
        [nestingLevel]="0"
        (selectItem)="selectItem($event)"
        (goToPage)="goToPage($event)"
      >
      </app-table-of-contents-list>

    </div>

    @if (!isShowFullDescription) {
      <div class="col-4">
        <div class="row">
          <div class="col-auto details-block">
            @if (!!selectedItem) {
              <div class="justify-content-center d-flex">
                <div class="title" [innerHTML]="selectedItem.title"></div>
              </div>
              <div class="description" [innerHTML]="selectedItem.description"></div>
              @if (!!selectedItem.path) {
                <div class="justify-content-center d-flex">
                  <div class="btn col-auto m-2"
                       (click)="goToPage(selectedItem)">
                    <img src="from-bootstrap/play-circle.svg" alt="Перейти" class="btn-img"/>
                    Перейти
                  </div>
                </div>
              }
            } @else {
              Выберите элемент из списка, чтобы посмотреть на подробности.
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
